.container{
    padding: 0px 270px;
}
.header{
    color: #A4A400;
    font-size: 22pt;
    text-align: center;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pie_picture{
    background-color: #74992e;
    width: 250px;
    height: 250px;
}
.pie_directions h3, .pie_ingredient h3, .users_comments h3, .links h3{
    color: #A4A400;
    font-size: 18pt;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#directions{
    list-style-type: decimal;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
  }
  blockquote{
    background-color: #FFFFA8;
    font-style: italic;
  }
  .bold{
    font-weight: bold;
  }
  .cross_out{
    text-decoration: line-through;
  }
  .box_copyright{
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
  }
  .links{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #A4A400;
    font-size: 11pt;
  }
  ul{
    list-style-image: url("/img/recipeImages/pie_bullet.png");
  }