*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.main_about_me_box{
    padding:10px 100px 15px 100px;
}
.about_me_box{
    height: 800px;
    width: 100%;
}
.content_box{
    height: 700px;
    width: 100%;
}
h3,h1{
    color: cadetblue;
}
.favorite_movies ul{
    list-style: decimal;
}
.anime_intro{
    font-style: italic;
}
.happy{
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px 100px 0px 100px;
}
.sad{
    width: 100px;
    height: 100px;
    float: left;
}
.nav_bar a{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
.nav_bar a:hover{
    background-color: #111;
}
.text_color{
    color: #8B0000;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}