.main_box{
    height: 500px;
    width: 100%;
}
.box_left{
    height: 500px;
    width: 25%;
    float: left;
    background-color: yellow;
}
.box_left_profile_pic{
    height: 500px;
    width: 100%;
}
.box_right{
    height: 500px;
    width: 70%;
    float: right;
}
.nav_bar a{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
.nav_bar a:hover{
    background-color: #111;
}